<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
<script src="js/tokens.js" defer></script>
<script src="js/descriptionWritter.js" defer></script>
<script src="js/cardPainter.js" defer></script>

<div id="app">
    <form class="data" @input="paintAll()">
        <div class="section">
            <div class="panel">
                <label for="name">Name:</label><input type="text" v-model='name' id="name">
            </div>
            <div class="panel">
                <label for="template">Template:</label>
                <select id="template" v-model="template">
                    <option v-for="name in templates" :value="name">{{name}}</option>
                </select>
            </div>
        </div>

        <label for="description">Text:</label>
        <textarea id="description" v-model="description" rows="8" cols="50"></textarea>

        <div class="section">
            <div class="panel">
                <label for="cost">Cost:</label><input type="text" v-model='cost' id="cost">
            </div>
            <div class="panel">
                <label for="preview">Preview:</label><input type="text" v-model='preview' id="preview">
            </div>
        </div>

        <label for="types">Types:</label>
        <div class="types-container">
            <input type="text" v-model='types' id="types">
            <button type="button" @click.prevent="colorsFromTypes()">Set Colors</button>
        </div>

        <div class="section">
            <div class="panel">
                <label for="image">Image:</label>
                <input type="text" v-model='image' id="image">
                <label for="zoom">Zoom:</label>
                <input type="range" v-model='zoom' id="zoom" min="1" max="5" step="0.05">
                <label for="deltaX">X:</label>
                <input type="range" v-model='deltaX' id="deltaX" min="-1" max="1" step="0.05">
                <label for="deltaY">Y:</label>
                <input type="range" v-model='deltaY' id="deltaY" min="-1" max="1" step="0.05">
                <label for="expansion">Expansion:</label>
                <input type="text" v-model='expansion' id="expansion">
            </div>
            <div class="panel">
                <label for="art">Art:</label><input type="text" v-model='art' id="art">
                <label for="version">Version:</label><input type="text" v-model='version' id="version">

                <label for="resolution">Resolution:</label>
                <select id="resolution" v-model.number="scale" @input="window.setTimeout(paintAll, 10)">
                    <option value="1">High</option>
                    <option value="0.5">Low</option>
                    <option value="0.4">Lowest</option>
                </select>
            </div>
        </div>

        <div class="section" v-cloak>
            <div class="panel" v-for="i in [0, 1]">
                <label class='color-input' :for="'color'+(i+1)">Color {{i + 1}}</label>
                <div class="section">
                    <div class="color-container">
                        <input type="color" v-model="color[i]" :id="'color'+(i+1)">
                        <div :style="{color: visibleTextColor(color[i])}">{{color[i].toUpperCase()}}</div>
                    </div>
                    <select @change="setColor(i, $event.target.value)" :value="colorStyle(i)">
                        <option v-for="color in COLORS.slice(1-i)" :value="color.name">{{color.name}}</option>
                    </select>
                </div>
                <label :for="'filter'+(i+1)">Filter:</label>
                <select v-model="filter[i]" @change="paintAll()" :id="'filter'+(i+1)">
                    <option value="hidden" v-if='i===1'>Hidden</option>
                    <option value="multiply">Multiply</option>
                    <option value="overlay">Overlay</option>
                    <option value="screen">Screen</option>
                    <option value="hard-light">Hard Light</option>
                    <option value="hard-light*">Hard Light (inv)</option>
                    <option value="soft-light">Soft Light</option>
                    <option value="soft-light*">Soft Light (inv)</option>
                    <option value="color-burn">Color Burn</option>
                    <option value="color-burn*">Color Burn (inv)</option>
                    <option value="color-dodge">Color Dodge</option>
                    <option value="lighter80">Lighter 50%</option>
                    <option value="lighter40">Lighter 25%</option>
                </select>
                <label v-if="i===1 && showVariations" for="variation">Variation:</label>
                <select v-if="i===1 && showVariations" v-model="variation" @change="paintAll()" id="variation">
                    <option value="normal" v-if='i===1'>Normal</option>
                    <option value="night" v-if='i===1'>Night</option>
                </select>
            </div>
        </div>
    </form>
    <div>
        <canvas id="canvas" ref="canvas"
                :class="template"
                :width="canvasWidth" :height="canvasHeight"
                @click="paintAll()"
        ></canvas>
    </div>
</div>

<script>

    function configTemplates(){
        return {
            Vertical: VerticalCardPainter,
            Horizontal: HorizontalCardPainter,
        }
    }

    const COLORS = [
        {name: 'SAME', filter: 'hidden'},
        {name: 'Action', color: '#ffffff'},
        {name: 'Boon', color: '#b39c38', filter: 'overlay'},
        {name: 'Curse', color: '#d999ff'},
        {name: 'Duration', color: '#ffcc66'},
        {name: 'Event', color: '#dddddd'},
        {name: 'Hex', color: '#9d7ac1'},
        {name: 'Landmark', color: '#25773c', filter: "soft-light"},
        {name: 'Night', color: '#4d6673', variation: "night"},
        {name: 'Project', color: '#fb9d9c'},
        {name: 'Reaction', color: '#a6cce6'},
        {name: 'Reserve', color: '#e6bf80'},
        {name: 'Ruins', color: '#bf9959'},
        {name: 'Shelter', color: '#FFa680', priority: -1},
        {name: 'State', color: '#c66638', filter: "screen"},
        {name: 'Treasure', color: '#fff28c'},
        {name: 'Victory', color: '#bfe6a6'},
        {name: 'CUSTOM'},
    ]

    const IMAGES = {
        vertical: "img/vertical.jpg",
        verticalMask1: "img/vertical-1.png",
        verticalMask2: "img/vertical-2.png",
        verticalMask2Night: "img/vertical-2-night.png",
        verticalMaskUncolored: "img/vertical-uncolored.png",
        verticalMaskFocus: 'img/vertical-focus.png',
        horizontal: 'img/horizontal.jpg',
        horizontalMask1: 'img/horizontal-1.png',
        horizontalMask2: 'img/horizontal-2.png',
        horizontalMaskUncolored: 'img/horizontal-uncolored.png',
        horizontalBorder: 'img/horizontal-border.png',
        '$': "img/Coin.png",
        '@': "img/Debt.png",
        '^': "img/Potion.png",
        '%': "img/VP.png",
        img: '',
        exp: '',
    }

    let img_cache = {}

    function loadImage(url) {
        if (img_cache[url])
            return new Promise(resolve => resolve(img_cache[url]))
        return new Promise(resolve => {
            const img = new Image();
            img.addEventListener('load', () => resolve(img_cache[url] = img));
            img.addEventListener('error', () => {
                if (url.startsWith('http:'))
                    img.src = 'https://images.weserv.nl/?url=' + url
                else
                    resolve()
            });
            img.src = url;
        })
    }

    async function loadFonts(fontNames) {
        await Promise.all(
            [...document.fonts].filter(f => fontNames.includes(f['family'].replaceAll('"', ''))).map(f => f.load())
        )
    }

    async function loadImages(images) {
        return Object.fromEntries(
            await Promise.all(Object.entries(images).map(([k, url]) => loadImage(url).then(img => [k, img])))
        )
    }

    function createApp() {
        const TEMPLATES = configTemplates()
        return new Vue({
            el: '#app',
            data() {
                const urlParams = new URLSearchParams(window.location.search);
                return {
                    template: urlParams.get('template') ?? 'Vertical',
                    name: urlParams.get('name') ?? '',
                    types: urlParams.get('types') ?? '',
                    color: urlParams.get('color')?.split(',') ?? ['#ffffff', '#ffffff'],
                    filter: urlParams.get('filter')?.split(',') ?? ["multiply", "hidden"],
                    scale: urlParams.get('scale') ?? 1,
                    description: urlParams.get('description') ?? '',
                    cost: urlParams.get('cost') ?? '',
                    preview: urlParams.get('preview') ?? '',
                    image: urlParams.get('image') ?? '',
                    expansion: urlParams.get('expansion') ?? '',
                    zoom: urlParams.get('zoom') ?? 1,
                    deltaX: urlParams.get('deltaX') ?? 0,
                    deltaY: urlParams.get('deltaY') ?? 0,
                    art: urlParams.get('art') ?? "",
                    version: urlParams.get('version') ?? '',
                    variation: urlParams.get('variation') ?? 'normal',
                }
            },
            methods: {
                async paintAll() {
                    const extra_imgs = await loadImages({img: this.image, exp: this.expansion})
                    await FONT_PROMISE
                    const base_imgs = await IMGS_PROMISE
                    const images = {...base_imgs, ...extra_imgs}
                    TokenIcon.img = images
                    TokenIconVP.img = images['%']
                    let ctx = this.$refs.canvas.getContext("2d");
                    let cp = new TEMPLATES[this.template](ctx, this.$data, images)
                    cp.paint()
                    this.saveQuery()
                },
                visibleTextColor(color) {
                    const [r, g, b] = [1, 3, 5].map(i => Number.parseInt(color.charAt(i), 16))
                    const value = 0.21 * r + 0.72 * g + 0.072 * b;
                    return value < 7 ? 'white' : 'black'
                },
                setColor(i, name) {
                    if (name === 'CUSTOM')
                        return
                    const color = COLORS.find(c => c['name'] === name)
                    Vue.set(this.color, i, color.color || this.color[i])
                    Vue.set(this.filter, i, color.filter || 'multiply')
                    if (i === 1)
                        this.variation = color.variation || 'normal'
                },
                async colorsFromTypes() {
                    const types = this.types.split(' - ')
                    let colored = COLORS.filter(c => types.find(t => c.name.toLowerCase() === t.toLowerCase()))
                    let actionIx = colored.findIndex(c => c.name === 'Action');
                    let hideAction = actionIx > -1 && colored.find(c => c.name.startsWith('R') || c.name === "Duration")
                    if (hideAction)
                        colored = colored.slice(0, actionIx).concat(colored.slice(actionIx + 1))

                    const priority = c => c.priority || COLORS.indexOf(c)
                    colored.sort((a, b) => priority(a) - priority(b))

                    if (colored.length) {
                        colored.push(COLORS[0])
                        this.setColor(0, colored[0].name)
                        this.setColor(1, colored[1].name)
                    }
                    await this.paintAll()
                },
                saveQuery() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const newParams = new URLSearchParams({...Object.fromEntries(urlParams.entries()), ...this.$data})
                    newUrlQuery = window.location.href.split('?')[0] + '?' + newParams.toString()
                },
                colorStyle(i) {
                    if (this.filter[i] === 'hidden')
                        return 'SAME'
                    return COLORS.find(c =>
                        c.color?.toLowerCase() === this.color[i].toLowerCase() &&
                        (c.filter || 'multiply') === this.filter[i].toLowerCase()
                    )?.name || 'CUSTOM'
                }
            },

            computed: {
                canvasWidth() {
                    return (TEMPLATES[this.template].WIDTH * this.scale | 0) + 'px'
                },
                canvasHeight() {
                    return (TEMPLATES[this.template].HEIGHT * this.scale | 0) + 'px'
                },
                showVariations() {
                    return Object.keys(TEMPLATES[this.template].VARIATIONS).length >= 2
                },
                templates(){
                    return Object.keys(TEMPLATES);
                }
            },
        })
    }

    let app

    const FONT_PROMISE = loadFonts(['Token', 'Trajan Pro'])
    const IMGS_PROMISE = loadImages(IMAGES)

    window.addEventListener('load', () => {
        app = createApp()
        app.paintAll()
    })

    let newUrlQuery = ""
    setInterval(() => {
        if (newUrlQuery.length) {
            history.replaceState({}, "", newUrlQuery)
            newUrlQuery = ""
        }
    }, 2000)


</script>

</body>
</html>