@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/trajan-pro');

@font-face {
    font-family: 'Token';
    src: url("fonts/JenrivTitlingBold.otf"),
    url("https://db.onlinewebfonts.com/t/7ac6a300d841ddc76aff1a4c102e46db.woff2") format("woff2");
}

@font-face {
    font-family: 'Roman';
    src: local('Times New Roman');
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Amiri,  sans-serif
}

#canvas.Vertical {
    width: 300px;
    height: 460px;
}

#canvas.Horizontal {
    width: 460px;
    height: 300px;
}


#app {
    display: flex;
    max-width: 100%;
    padding: 0.25em 0.25em;
    gap: 2em;
}

.data {
    display: flex;
    flex-direction: column;
}

.data * {
    box-sizing: border-box;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section > * {
    display: flex;
    flex-direction: column;
    width: 49%;
}

span,
label {
    font-size: 0.75em;
    margin-top: 0.75em;
    font-family: 'Roman';
}

.types-container {
    display: flex;
    gap: 0.2em;
}

.types-container > input {
    width: 100%;
}

.types-container > button {
    width: 10em;
}

.color-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

input[type='color'] {
    padding: 0;
    border: solid 1px;
    -webkit-appearance: none;
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type='color'] + div {
    font-family: monospace;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}

button,
input:not([type='range']),
select {
    height: 2em;
}

input[type='range'] {
    margin: 0;
}

input[type='range'] + label {
    margin-top: 0.1em;
}